body {
	background-color:#2B3856;
	min-height: 100vh;
	margin: 0;
}
.centered-body {
	display: flex;
	justify-content: center;
	
}
.form-container {
	background-color:#659EC7 ;
	border-radius: 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.btn-primary {
	background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}